@media screen and (max-width: 89em) {
	.main_menu {
        font-size: 1em;
    }
}

@media screen and (max-width: 60em) {
	.main_menu {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 100em) {
	.wrapper{
        width: 12em;
		margin-right: 22%;
    }
	.wrapper h2{font-size: 1.5em;}
	.wrapper span{font-size: 0.8em;	}
	.wrapper span{font-size: 0.8em;	}
}

@media screen and (max-width: 1400px) {
	.wrap_titulo {
        font-size: 2.5em;
    }
}
