@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  width: 100%;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
	float:left;
	width: 250px;
	height: 100%;
	background: #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-left: 0px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
	margin-left: 0px;
	position:relative;
	font-family: "Cinzel";
	padding-bottom: 70px;
	padding-top: 40px;
}
#cssmenu > ul > li {
  margin: 0 0 0px 0;
  padding-top: 0px;
  padding-bottom: 0px;
  /*text-transform: uppercase;*/
}
#cssmenu > ul > li:last-child {
  margin: 0;
}
#cssmenu > ul > li > a {
	padding-left: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 190px;
	font-size: 16px;
	display: block;
	color: #000;
	text-shadow: 0 0px 0px #000;
	border: 0px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;
	font-weight: bold;
	font-family: "Cinzel";
}
#cssmenu > ul > li > a > span {
  display: block;
  border: 1px solid #666666;
  padding:0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
 /* background-color: #54939B;
  color: white; */
  background-color: #B3B3B3;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
	background: url(../img/menu-down.png) 40px center no-repeat;
	background-size: 15px;
  /*background: #54939B;
  background: -moz-linear-gradient(#54939B 0%, #54939B 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54939B), color-stop(100%, #54939B));
  background: -webkit-linear-gradient(#54939B 0%, #54939B 100%);
  background: linear-gradient(#54939B 0%, #54939B 100%);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  border: 0px solid #565656; */
}

#cssmenu > ul > li.no-sub > a {
	background: url(../img/menu-right.png) 40px center no-repeat;
	background-size: 15px;
}

#cssmenu > ul > li .main_active {
	background: url(../img/menu-right.png) 40px center no-repeat;
	background-size: 15px;
}

#cssmenu > ul > li.active > a span {
   /*border: 1px solid #97be10; */
}
#cssmenu > ul > li.has-sub > a span {
  /*background: url(../img/menu-right.png) 98% center no-repeat;*/
}

#cssmenu > ul > li.has-sub.active > a span {
  background: url(images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 5px 12px;
  display: none;
}
#cssmenu ul ul li {
  padding: 4px 20px;
}
#cssmenu ul ul a {
  display: block;
  color: #595959;
  font-size: 13px;
  font-weight: bold;
  font-family: "Cinzel";
}
#cssmenu ul ul a:hover {
  color: #54939B;
}
